

    .mobile-aside{
        padding:100px 0px;
        position: fixed;
        width: 0;
        height: 100%;
        opacity:1;
        z-index:999;
        background: black;
        transition:width 1.2s;
        -moz-transition:width 1.2s; /* Firefox 4 */
        -webkit-transition:width 1.2s; /* Safari and Chrome */ 
        -o-transition:width 1.2s; /* Opera */
        overflow: hidden;
     
         &.active{
             width:20%;
         }
    }

    .aside-title{
        color: #999;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 20px;
    }
    



    