.ant-comment-actions{
    padding-left: 0px;
    margin: 0px;
    margin-top: 0px !important;
}
.delBtn{
    float: right;
    display: none;
    cursor: pointer;
}

/*
父节点hover,子节点display （如果不是父子关系需要使用css预处理器，less/sass）
参考文档:https://blog.csdn.net/qingzhizhenhun/article/details/79639740
*/
.commentItem:hover .delBtn{display: inline;}