.filterByTags-nothing-content{
    text-align: center;
    color: #888;
    font-size: 1.3rem;
}

.icon-wrap{
    text-align: center;
}

.icon {
    width: 10rem; height: 10rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }