.ant-comment-actions{
    padding-left: 0px;
    margin: 0px;
    margin-top: 0px !important;
}
#delBtn{
    float: right;
    display: none;
    cursor: pointer;
}

/*
父节点hover,子节点display （如果不是父子关系需要使用css预处理器，less/sass）
参考文档:https://blog.csdn.net/qingzhizhenhun/article/details/79639740
*/

.ant-comment:hover #delBtn{display: inline;}


.tags{
    margin-right: 10px;
}

.blogTitle{
    font-size: 1.1rem;
    color:#1890ff;
    cursor: pointer;
    margin:0px;
    margin-bottom: 5px;
}

.blogText{
    font-size: 0.9rem;
    color: #888;
}

.ant-comment-content-detail{
    color: #999;
    font-size: 0.8rem;
}

.delWarning{
    font-size: 1rem;
    color: #888;
}


.div{
    width:100%;
    height:0px;
    padding-bottom:100%;
    position:relative;
}
.div img{
        margin-top: 20px;
        // width:60%;
        // height:60%;
        width:100px;
        height:100px;
        position:absolute;
        border-radius: 5px;
}