.head-userName{
    color: #ffffff !important
}

/* layout遮罩层，pointer-evernts表示页面是否相应事件 */
.mobile-aside-wrap{
    position:fixed;
    left:0%;
    top:0;
    opacity:.3;
    width:100%;
    height:100%;
    background:#000;
    z-index:998;
    /* pointer-events: none; */
}