.blogText{
    /* 单行省略   */
    /* height: 50px;
    overflow:hidden; text-overflow:ellipsis;white-space:nowrap; */
    
    /* 多行省略 */
    /* css控制显示行数，超出省略 */
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }

.delBtn{
    float: right;
    display: none;
    cursor: pointer;
}

/*
父节点hover,子节点display （如果不是父子关系需要使用css预处理器，less/sass）
参考文档:https://blog.csdn.net/qingzhizhenhun/article/details/79639740
*/
.commentItem:hover .delBtn{display: inline;}

