

.tag-board{
    margin: 45px;
    margin-left: 20px;
    padding:20px;
    background: #fff;
}

.tag-board-btn{
    display: inline;
    background:#f3f3f3;
    margin: 0px 10px;
    padding:5px 10px;
    cursor: pointer;
    color:#888;
}

.tag-board-btn:hover{
    background: #c5c5c5;
}

.tag-board-row{
    margin-bottom: 20px;
}


