/* .demo-editor {
    
    height:auto!important;
    _height:200px;
    min-height:200px;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
} */



.row{
    margin-bottom: 10px;
}

.saveBtn{
float: right
}