/* .demo-editor {
    
    height:auto!important;
    _height:200px;
    min-height:200px;
    border: 1px solid #F1F1F1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
} */



.row{
    margin-bottom: 10px;
}

.saveBtn{
   
}

.wb-title-wrapper{
    margin-top: 30px;
    margin-bottom: 20px;
}

.wb-markdown-wrapper{

}

.wb-categories-wrapper{
    margin-top: 20px;
}

.wb-tags-wrapper{
    margin-top: 15px;
}

.wb-contaier{
    height: 100%;
}

.wb-save-btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 25px;
}